.color1 {
    background-color: #ffff00;
    color: black;
}

.color2 {
    background-color: #00ff00;
    color: black;
}

.color3 {
    background-color: #0000ff;
    color: black;
}

.color4 {
    background-color: #7f00ff;
    color: black;
}