@import "./colors.css";

* {
  box-sizing: border-box;
}

:root {
  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

body {
  margin: 0;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;

  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}

h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;

  @media (max-width: 1024px) {
    font-size: 20px;
  }
}

p {
  margin: 0;
}

button {
  touch-action: manipulation;
  
  background-color: var(--button-bg);
  color: var(--button-text);

  transition-property: background-color color;
  transition-duration: 0.1s;

  border-radius: 10px;
  border: none;

  /* Weird selection flashes on mobile without this */
  @media (hover: hover) {
    cursor: pointer;
  }
  
  /* Double check it */
  user-select: none;
  -webkit-tap-highlight-color: transparent; 
  -webkit-user-select: none;
}

button[disabled] {
  cursor: auto;
  background-color: var(--button-bg-disabled);
  color: var(--button-text-disabled);
}

button:hover:not([disabled]) {
  background-color: var(--button-bg-hover);
  color: var(--button-text-hover);
}

button:active:not([disabled]) {
  background-color: var(--button-bg-active);
  color: var(--button-text-active);
}

dialog {
  border-radius: 10px;
  padding: 24px;

  background-color: var(--dialog-bg);
  color: var(--dialog-text);

  @media screen and (max-width: 720px) {
    max-width: 80vw;
  }

  @media screen and (max-width: 480px) {
    font-size: 16px;
  }
}

#app {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
}